@charset "UTF-8";

/* CSS Document */
/* Global Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* Varibales */

$siteWidth:960;

/* Essential Classes */

body {
  background: $colorGreyLite;
  font-family: $fontFamilySlab;
  font-weight: 600;
  font-size: 15px;
}

#wrapper {
  width: $siteWidth + px;
  position: absolute;
  margin-left: 50%;
  left: -($siteWidth / 2) + px;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
