$paddingLeft: 24;
$paddingTop: 39;

#header {
  position: fixed;
  clear: both;
  background: $colorTeal url('../images/header-gradient.png') repeat-x;
  color: $colorWhite;
  width: $siteWidth + px;
  height: $headerHeight + px;

  #header-menu {
    padding: 0 0 0 $paddingLeft + px;
  } 
   
  .header-menu-item {
    float: left;
    padding: 10px 80px 0 0;
    
    h3 {
      font-size: 16px;
      text-transform: uppercase;
    }
    h3:hover {
      color: $colorYellow !important;
    }
  }
  
  .header-menu-item-active {
    a {
      pointer-events: none;
      cursor: default;
    }
    h3 {
      color: $colorYellow !important;
    }
  }
  
  .header-menu-item-inactive {
    a {
      pointer-events: auto;
      cursor: auto;
    }
    h3 {
      color: $colorWhite !important;
    }
  }
  
  h1 {
    p {
      clear: both;
      float: left;
      font-size: 33px;
      padding: ($paddingTop + 7) + px 0 0 $paddingLeft + px;
      font-weight: 400;
    }
  }
  h2 {
    p {
      float: left;
      font-size: 30px;
      font-family: $fontFamilyScript;
      font-weight: 100;
      padding: ($paddingTop + 5) + px 0 0 $paddingLeft + px;
    }
  }
  
  #header-social {
    float: right;
    padding: ($paddingTop + px) 10px 0 0;
    
    #header-social-linkedin {
      p {
        width: 39px;
        height: 35px;
        background: url('../images/button-social-linkedin.png') no-repeat;
      }
      p:hover {
        background: url('../images/button-social-linkedin-hover.png') no-repeat !important;
      }
    }
  }
}
