$videoPlayerWidth: $siteWidth;
$videoPlayerHeight: (($videoPlayerWidth / 16) * 9);
$videoPlayerTop: ($contentHeight - $videoPlayerHeight) / 2;
$videoPlayerLeft: ($siteWidth - $videoPlayerWidth) / 2;

#overlay {
  // XXX : [RKP] : Begin hack
  position: fixed;
  left: 0;
  // XXX : [RKP] : Need to hide off screen until YouTube IFrame Player has initilaized
  position: absolute;
  left: 2000px;
  // XXX : [RKP] : End hack
  z-index: 1000;
  width: 100%;
  height: 100%;
  
  #overlay-wrapper {
    position: inherit;
    z-index: 3000;
    margin-left: 50%;
    // top: $topHeight + px;
    left: -($siteWidth / 2) + px;
    
    #overlay-close-container {
      position: inherit;
      width: $siteWidth + px;
      
      a {
        color: $colorWhite;
        text-transform: uppercase;
        float: right;
        padding: 10px 10px 0 10px;
        height: $topHeight + px;
        background: $colorTeal;
      }
    }
    
    #overlay-content {
      position: inherit;
      top: $topHeight + px;
      width: $siteWidth + px;
      height: $contentHeight + px;
      background: $colorWhite;
      
      #overlay-video-container {
        position: inherit;
        background: black;
        width: $siteWidth + px;
        height: $contentHeight + px;
        
        #overlay-video-size {
          position: inherit;
          padding-top: $videoPlayerTop + px;
          padding-left: $videoPlayerLeft + px;
          width: $videoPlayerWidth + px;
          height: $videoPlayerHeight + px;
        }
      }
      
      #overlay-image-container {
        position: inherit;
        width: $siteWidth + px;
        height: $contentHeight + px;
      }
    }
      
    $padding: 40px;
    
    #overlay-text-container {
      position: inherit;
      top: ($topHeight + $contentHeight) + px;
      width: $siteWidth + px;
      // height: 100px;
      background: $colorWhite;
      
      a {
        color: $colorTeal;
      }
      a:hover {
        text-decoration: underline;
      }
      
      h4 {
        padding: $padding $padding 0px $padding;
        color: #727272;
      }
      h5 {
        padding: 10px $padding $padding $padding;
      }
    }
  }
  
  #overlay-cover-container {
    position: inherit;
    z-index: 2000;
    width: 100%;
    height: 100%;
    
    a {
      position: inherit;
      width: 100%;
      height: 100%;
    }
    
    #overlay-background {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .50;
      background: $colorWhite * .9;
    }
  }
}