// $videoPlayerHeight: $contentHeight;
// $videoPlayerWidth: (($videoPlayerHeight - 10) / 9) * 16;
$videoPlayerWidth: $siteWidth;
$videoPlayerHeight: (($videoPlayerWidth / 16) * 9);
$videoPlayerTop: ($contentHeight - $videoPlayerHeight) / 2;
$videoPlayerLeft: ($siteWidth - $videoPlayerWidth) / 2;

#overlay {
  // position: absolute;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  
  #overlay-wrapper {
    position: inherit;
    z-index: 3000;
    margin-left: 50%;
    top: $topHeight + px;
    left: -($siteWidth / 2) + px;
    
    #overlay-content {
      position: inherit;
      width: $siteWidth + px;
      height: $contentHeight + px;
      background: $colorWhite;
      
      #overlay-video-container {
        position: inherit;
        background: black;
        width: $siteWidth + px;
        height: $contentHeight + px;
        
        #overlay-video-size {
          position: inherit;
          padding-top: $videoPlayerTop + px;
          padding-left: $videoPlayerLeft + px;
          width: $videoPlayerWidth + px;
          height: $videoPlayerHeight + px;
        }
      }
      
      #overlay-image-container {
        position: inherit;
        width: $siteWidth + px;
        height: $contentHeight + px;
      }
    }
      
    #overlay-text-container {
      position: inherit;
      top: ($topHeight + $contentHeight) + px;
      width: $siteWidth + px;
      height: 100px;
      background: $colorWhite;
      padding: 0 10px 0 10px;
      
      h4 {
        padding: 10px 0 0 0;
        color: #727272;
      }
      h5 {
        padding: 20px 0 0 0;
      }
    }
  }
  
  #overlay-cover-container {
    position: inherit;
    z-index: 2000;
    width: 100%;
    height: 100%;
    
    a {
      position: inherit;
      width: 100%;
      height: 100%;
    }
    
    #overlay-background {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .50;
      background: $colorWhite;
    }
  }
}