<!-- Begin Main -->
<script id="header_menu_tmpl" type="text/html">
	<ul>
	{{#data}}
		<li id={{dom}} class="header-menu-item header-menu-item-inactive">
			{{^link}}
				<a href="#{{route}}" target="_self">
					{{> header_menu_item_tmpl}}
				</a>
			{{/link}}
			{{#link}}
				<a href="{{src}}" target="{{target}}">
					{{> header_menu_item_tmpl}}
				</a>
			{{/link}}
		</li>
	{{/data}}
	</ul>
</script>
<script id="header_menu_item_tmpl" type="text/html">
	<h3><strong>{{title}}</strong></h3>
</script>
<!-- End Header -->
<!-- Begin Main -->
<script id="main_work_tmpl" type="text/html">{{> main_grid_tmpl}}</script>
<script id="main_fun_tmpl" type="text/html">{{> main_grid_tmpl}}</script>
<script id="main_grid_tmpl" type="text/html">
	<ul>
	{{#data}}
		<li id={{dom}} class="main-menu-item">
			{{#disabled}}
			<img src="images/{{route}}/thumb.jpg" alt="{{description}}" />
			{{> main_title_tmpl}}
			{{/disabled}}
			{{^disabled}}
			<a href="#{{route}}">
				<img src="images/{{route}}/thumb.jpg" alt="{{description}}" />
				{{> main_title_tmpl}}
			</a>
			{{/disabled}}
		</li>
	{{/data}}
	</ul>
</script>
<!-- End Main -->
<!-- Begin Overlay -->
<script id="main_overlay_image_tmpl" type="text/html">
	{{^videoId}}
	<img src="images/{{route}}.jpg" alt="{{description}}" />
	{{/videoId}}
</script>
<script id="main_overlay_text_tmpl" type="text/html">
	{{> main_title_tmpl}}
</script>
<script id="main_overlay_close_tmpl" type="text/html">
	<a href="#{{parent.attributes.parent.attributes.route}}">Close <span>☓</span></a>
</script>
<script id="main_overlay_next_tmpl" type="text/html">
	<a href="#{{route}}">Next <span>→</span></a>
</script>
<script id="main_overlay_last_tmpl" type="text/html">
	<a href="#{{route}}"><span>←</span> Last</a>
</script>
<script id="main_overlay_cover_tmpl" type="text/html">
	<a href="#{{parent.attributes.parent.attributes.route}}"><div id="overlay-background"></div></a>
</script>
<script id="main_about_tmpl" type="text/html">
	{{#data}}
	<img src="images/about-me.jpg" alt="About me." />
	<h5><p>{{{description}}}</p></h5>
	<a href="{{link.src}}" target="{{link.target}}"><p>{{link.title}}</p></a>
	{{/data}}
</script>
<script id="main_title_tmpl" type="text/html">
	<h4><p>{{{title}}}</p></h4>
	<h5><p>{{{description}}}</p></h5>
</script>
<!-- End Overlay -->
<!-- Begin Overlay -->
<!-- End Overlay -->