<!-- header -->
<script id="header_menu_tmpl" type="text/html">
	<ul>
	{{#data}}
		<li id={{dom}} class="header-menu-item header-menu-item-inactive">
			<a href="#{{route}}">
				<h3><strong>{{title}}</strong></h3>
			</a>
		</li>
	{{/data}}
	</ul>
</script>
<!-- main -->
<script id="main_work_tmpl" type="text/html">{{> main_grid_tmpl}}</script>
<script id="main_fun_tmpl" type="text/html">{{> main_grid_tmpl}}</script>
<script id="main_grid_tmpl" type="text/html">
	<ul>
	{{#data}}
		<li id={{dom}} class="main-menu-item">
			<a href="#{{route}}">
				<img src="images/{{route}}/thumb.jpg" alt="{{description}}" />
				<h4><p>{{title}}</p></h4>
				<h5><p>{{description}}</p></h5>
			</a>
		</li>
	{{/data}}
	</ul>
</script>
<script id="main_content_tmpl" type="text/html">
	{{#data}}
		<li id={{dom}} class="main-menu-item">
			{{#videoId}}
				<div "#video-player-container">{{videoId}}</div>
				<h4><p>{{title}}</p></h4>
				<h5><p>{{description}}</p></h5>
			{{/videoId}}
			{{^videoId}}
				<img src="images/{{route}}.jpg" alt="{{description}}" />
				<h4><p>{{title}}</p></h4>
				<h5><p>{{description}}</p></h5>
			{{/videoId}}
		</li>
	{{/data}}
</script>
<!-- footer -->
