<header id="header">
	<div id="header-menu"></div>
	<h1>Kristen Kong</h1>
	<h2><span>A</span>rt <span>D</span>irector</h2>
	<div id="header-social">
		<ul>
			<li id="header-social-mail">
				<a href="mailto:info@kristenkong.com?subject=Kristen Kong | Art Director | Request to Contact" target="_blank"><p class="hide-text">Mail</p></a>
			</li>
			<li id="header-social-linkedin">
				<a href="http://www.linkedin.com/pub/kristen-m-kong/11/ba5/530" target="_blank"><p class="hide-text">Linkedin</p></a>
			</li>
		</ul>
	</div>
</header>