<div id="overlay">
	<div id="overlay-wrapper">
		<div id="overlay-menu">
			<div id="overlay-close-container">
				<!-- Contains close template -->
			</div>
			<div id="overlay-next-container">
				<!-- Contains next template -->
			</div>
			<div id="overlay-last-container">
				<!-- Contains last template -->
			</div>
		</div>
		<div id="overlay-content">
			<div id="overlay-video-container">
				<div id="overlay-video-size">
					<div id="video-player-target">
						<!-- Replaced by YouTube Player -->
					</div>
				</div>
			</div>
			<div id="overlay-image-container">
				<!-- Contains image template -->
			</div>
		</div>
		<div id="overlay-text-container">
			<!-- Contains text template -->
		</div>
	</div>
	<div id="overlay-cover-container">
		<!-- Contains cover template -->
	</div>
</div>